<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
{{#if expressFlash}}
    <p><strong>FLASH!</strong> {{ flashMessage }}</p>
{{/if}}

{{{body}}}
</body>
</html>
